doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- Adding a link to a favicon
    link(rel="shortcut icon", type="image/x-icon", href="/static/images/favicon.ico")
  body
    block content
